<section class='p-4 bg-secondary'>
	<h2 class='alert alert-dark text-center'>Ingrese Producto</h2>
	<form action='/api/productos' method='POST'>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='name'>Nombre</label>
			<input class='form-control' type='text' name='title' />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='price'>Precio</label>
			<input class='form-control' type='number' name='price' />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='picture'>Foto URL</label>
			<input class='form-control' type='url' name='thumbnail' />
		</div>
		<div class='mb-3'>
			<input class='btn btn-info' type='submit' value='Enviar' />
		</div>
	</form>
	<div>
		<a href='/productos'>
			<button class='btn btn-info'>Ver Productos</button>
		</a>
	</div>
</section>