<%- include('./header.ejs') %>
<section class="p-4 bg-secondary container">
  <div class="p-4 container">
    <div class="alert alert-dark text-center" role="alert">
      INGRESE PRODUCTO
    </div>
  </div>

  <form id= "formulario" class="container p-4" action="/api/productos" method="POST" >
     <div class="mb-3">
       <label for="name" class="form-label fw-bold">Nombre</label>
       <input type="text" class="form-control" id="name" name="title">
     </div>
     <div class="mb-3">
       <label for="price" class="form-label fw-bold">Precio</label>
       <input type="number" class="form-control" id="price" name="price">
     </div>
     <div class="mb-3">
       <label for="picture" class="form-label fw-bold">Foto URL</label>
       <input type="text" class="form-control" id="picture" name="thumbnail" aria-describedby="pictureHelp">
      </div>
     <input type="submit" class="btn btn-info" value="Enviar"/>
   </form>

   <br>
   <br id="tablaProd">
   
   <div class="container p-4 ">
    <div class="alert alert-dark text-center" role="alert">
      PRODUCTOS
    </div>
  </div>
  
  <div id="tabla"></div> 
 
  <br>
  <br id="tablaChat">

  <div class="container p-4">
    <div class="alert alert-dark text-center" role="alert">
      CENTRO DE MENSAJES
    </div>

    <div id= "" class="row">
      <label for="userEmail" class="form-label fw-bold">Usuario</label>
      <div class="col mb-3">      
        <input type="email" class="form-control fw-bold" id="userEmail" aria-describedby="pictureHelp">
      </div>

      <hr>
      <div id="chat"></div>
      <hr>
      <label for="userEmail" class="form-label fw-bold">Escriba su mensaje</label>
      <div class="col mb-3">      
        <input type="text" class="form-control" id="userMsj" aria-describedby="pHelp">
      </div>
      <div class="col">
        <input id="sendBtn" type="" class="btn btn-info" value="Enviar mensaje"/>
      </div>
    </div>

    <hr>

    

  </div>
</section>
</body>
</html>